<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="mongodb+srv://Admin:123@clusternhom10.csatuyr.mongodb.net/ClusterNhom10"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>